<div class="wrapper">
    <nav>
      <input type="checkbox" id="menu" name="menu" class="m-menu__checkbox" />
      <label class="m-menu__toggle" for="menu">
        <svg
          width="35"
          height="35"
          viewBox="0 0 24 24"
          fill="none"
          stroke="black"
          stroke-width="2"
          stroke-linecap="butt"
          stroke-linejoin="arcs">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>

      </label>
      
      <label class="m-menu__overlay" for="menu"></label>
  
      <div class="m-menu">
        <div class="m-menu__header">
          <label class="m-menu__toggle" for="menu">
            <svg
              width="35"
              height="35"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="butt"
              stroke-linejoin="arcs"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </label>
          <span>MENU</span>
        </div>
        <ul>
          <li>
            <label class="a-label__chevron" for="item-1">HOME</label>
            <input
              type="checkbox"
              id="item-1"
              name="item-1"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-1">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>HOME</span>
              </div>
              <ul>
                <li><label> <a href="homea">HOME 1</a> </label></li>
                <li><label> <a href="homea">HOME 2</a></label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-3">BILL</label>
            <input
              type="checkbox"
              id="item-3"
              name="item-1"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-3">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>BILL</span>
              </div>
              <ul>
                <li><label><a href="billing">BILL 1</a></label></li>
                <li><label>BILL 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-4">CANCEL</label>
            <input
              type="checkbox"
              id="item-4"
              name="item-4"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-4">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>CANCEL</span>
              </div>
              <ul>
                <li><label> <a href="cancel">    CANCEL 1</a>
              </label></li>
                <li><label>CANCEL 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-5">MODIFY</label>
            <input
              type="checkbox"
              id="item-5"
              name="item-5"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-5">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>MODIFY</span>
              </div>
              <ul>
                <li><label>MODIFY 1</label></li>
                <li><label>MODIFY 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-6">REPORT</label>
            <input
              type="checkbox"
              id="item-6"
              name="item-6"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-6">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>REPORT</span>
              </div>
              <ul>
                <li><label>REPORT 1</label></li>
                <li><label>REPORT 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-7">OCCUPANCY</label>
            <input
              type="checkbox"
              id="item-7"
              name="item-7"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-7">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>OCCUPANCY</span>
              </div>
              <ul>
                <li><label>OCCUPANCY 1</label></li>
                <li><label>OCCUPANCY 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-8">ROOM VACANCY</label>
            <input
              type="checkbox"
              id="item-8"
              name="item-8"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-8">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>ROOM VACANCY</span>
              </div>
              <ul>
                <li><label>ROOM VACANCY 1</label></li>
                <li><label>ROOM VACANCY 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-9">ROOM RENT</label>
            <input
              type="checkbox"
              id="item-9"
              name="item-9"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-9">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>ROOM RENT</span>
              </div>
              <ul>
                <li><label>ROOM RENT 1</label></li>
                <li><label>ROOM RENT 2</label></li>
              </ul>
            </div>
          </li>
  
          <li>
            <label class="a-label__chevron" for="item-10">BACKUP DB</label>
            <input
              type="checkbox"
              id="item-10"
              name="item-10"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-10">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>BACKUP DB</span>
              </div>
              <ul>
                <li><label>BACKUP DB 1</label></li>
                <li><label>BACKUP DB 2</label></li>
              </ul>
            </div>
          </li>
          <li>
            <label class="a-label__chevron" for="item-2">BOOKING</label>
            <input
              type="checkbox"
              id="item-2"
              name="item-2"
              class="m-menu__checkbox"
            />
            <div class="m-menu">
              <div class="m-menu__header">
                <label class="m-menu__toggle" for="item-2">
                  <svg
                    width="35"
                    height="35"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="2"
                    stroke-linecap="butt"
                    stroke-linejoin="arcs"
                  >
                    <path d="M19 12H6M12 5l-7 7 7 7" />
                  </svg>
                </label>
                <span>BOOKING</span>
              </div>
              <ul>
                <li><label ><a href="booking">BOOKING 1</a></label></li>
                <li><label>BOOKING 2</label></li>
                <li>
                  <label class="a-label__chevron" for="item-2-3">Item 2.3</label>
                  <input
                    type="checkbox"
                    id="item-2-3"
                    name="item-2"
                    class="m-menu__checkbox"
                  />
                  <div class="m-menu">
                    <div class="m-menu__header">
                      <label class="m-menu__toggle" for="item-2-3">
                        <svg
                          width="35"
                          height="35"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="#000000"
                          stroke-width="2"
                          stroke-linecap="butt"
                          stroke-linejoin="arcs"
                        >
                          <path d="M19 12H6M12 5l-7 7 7 7" />
                        </svg>
                      </label>
                      <span>Item 2.3 </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  