/* app.component.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  background: beige;
}

.navbar {
  background: beige;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link,
.drop-down li {
  height: 100%;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

.drop-down {
  display: none;
  position: absolute;
  padding: 0.5rem 0;
  margin: 0.5rem -0.5rem;
  background: beige;
  color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  font-size: 12px;
}

.nav-link:hover {
  background-color: black;
  color: white;
  border-radius: 0.5rem;
}

.services:hover .drop-down {
  display: block;
}

.services a {
  display: flex;
  align-items: center;
}

.services .dropdown-icon {
  font-size: 18px;
  position: relative;
  right: -5px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out all;
}

.services:hover .dropdown-icon {
  transform: rotate(180deg);
}

.drop-down li:hover {
  background: black;
  color: #fff;
  border-radius: 0.5rem;
}

/* Rest of your existing CSS */

/* Additional CSS for toggle button and centering */
.toggle-button {
  display: none;
}
@media only screen and (min-width: 1100px) {
  .navbar {
    justify-content: center; 
  }
}
@media only screen and (max-width: 1100px) {
  .nav-links {
    flex-direction: column; /* Change to row layout for options inside the toggle button */
    align-items: center; /* Align the options in a row in a systematic way */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: beige;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    display: none;
  }

  .nav-links.responsive {
    display: flex;
    margin-top: 124px;
    flex-direction: row; /* Change to column layout when the toggle button is clicked */
  }

  .toggle-button {
    display: block;
  }
}