<nav class="navbar">
    <div class="navbar-content">
      <img src="\assets\image\logo.png" alt="Image 1" class="navbar-image">
      <span class="navbar-text">Sikkimss Tourism Development Corporation</span>
      <span class="navbar-text1">Sikkim House Reservation System</span>
      <div class="navbar-buttons">
        <input type="checkbox" id="toggle" class="navbar-toggle">
        <label for="toggle" class="navbar-button">Options</label>
        <div class="navbar-dropdown">
          <button (click)='logout()'class="navbar-button">Logout</button>
          <button class="navbar-button">Change Password</button>
          
        </div>
      </div>
    </div>
  </nav>
<app-burger></app-burger>
<app-body></app-body>
<app-fotter></app-fotter>
